<!-- home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/common/layout :: layout}">

<head></head>

<body>
    <main th:fragment="content">
        <div class="container head-sm">
            <h2>Student info</h2>
            <ul>
                <li><p th:text="'Student ID: ' + ${session.student.student_id}"></p></li>
                <li><p th:text="'Name: ' + ${session.student.name}"></p></li>
                <li><p th:text="'Class ID: ' + ${session.student.clazz.class_id}"></p></li>
            </ul>
        </div>
        
    </main>
</body>

</html>