<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/common/layout :: layout}">

<head>
</head>

<body>
    <main th:fragment="content">
        <div class="container w-25 mx-auto head-sm">

            <h2>Thông tin xin nghỉ</h2>
            <div th:fragment="alert-danger" th:if="${message_error}" class="alert alert-danger" role="alert">
                <span th:text="${message_error}"></span>
            </div>
            <hr>
            <form action="#" th:action="@{/student/absences/{id}/add (id=${student_id})}" th:object="${absence}"
                method="post" class="was-validated">
                <input type="hidden" name="" th:field="*{absence_id}" th:value="${absence.absence_id}">
                <div class="mb-3">
                    <label for="startDate" class="form-label">Ngày bắt đầu</label>
                    <input required th:field="*{startDate}" type="date" name="startDate" id="startDate"
                        class="form-control" placeholder="" aria-describedby="helpId" min="2023-04-12" max="2023-05-31">
                    <small id="helpId" class="text-muted">Chọn ngày bắt đầu nghỉ</small>
                </div>

                <div class="mb-3">
                    <label for="endDate" class="form-label">Ngày kết thúc</label>
                    <input required th:field="*{endDate}" type="date" name="endDate" id="endDate" class="form-control"
                        placeholder="" aria-describedby="helpId" min="2023-04-12" max="2023-05-31">
                    <small id="helpId" class="text-muted">Chọn ngày kết thúc</small>
                </div>

                <!-- <div class="mb-3">
                    <label for="reason" class="form-label">Lý do</label>
                    <input th:field="*{reason}" type="text" name="reason" id="reason" class="form-control"
                        placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Lý do xin nghỉ</small>
                </div> -->

                <div class="mb-3">
                    <label for="reason" class="form-label">Lý do</label>
                    <textarea required th:field="*{reason}" class="form-control is-invalid" name="reason" id="reason"
                        placeholder="Lý do" rows="3" aria-describedby="helpId"></textarea>
                    <small id="helpId" class="text-muted">Nhập lý do xin nghỉ</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>