<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/common/layout :: layout}">

<head>
</head>

<body>
    <main th:fragment="content">
        <div class="container head-sm">
            <h2>Lịch sử xin nghỉ</h2>
            <a class="btn btn-success btn-sm my-2" th:href="@{/student/absences/{id}/add (id=${student_id})}"
                role="button">Thêm ngày nghỉ</a>
            <div class="table-responsive" style="max-height:none">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ngày bắt đầu</th>
                            <th scope="col">Ngày kết thúc</th>
                            <th scope="col">Lý do xin nghỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="a, index : ${absences}">
                            <td th:text="${index.count}"></td>
                            <td th:text="${a.startDate}"></td>
                            <td th:text="${a.endDate}"></td>
                            <td th:text="${a.reason}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </main>
</body>

</html>