
<div th:fragment="alert" th:if="${message}" class="alert alert-primary" role="alert">
    <span th:text="${message}"></span>
</div>

<div th:fragment="alert-danger" th:if="${message}" class="alert alert-danger" role="alert">
    <span th:text="${message}"></span>
</div>

<div th:fragment="alert-primary" th:if="${message}" class="alert alert-primary" role="alert">
    <span th:text="${message}"></span>
</div>
<div th:fragment="alert-secondary" th:if="${message}" class="alert alert-secondary" role="alert">
    <span th:text="${message}"></span>
</div>
<div th:fragment="alert-warning" th:if="${message}" class="alert alert-warning" role="alert">
    <span th:text="${message}"></span>
</div>
<div th:fragment="alert-info" th:if="${message}" class="alert alert-info" role="alert">
    <span th:text="${message}"></span>
</div>
<div th:fragment="alert-light" th:if="${message}" class="alert alert-light" role="alert">
    <span th:text="${message}"></span>
</div>
<div th:fragment="alert-dark" th:if="${message}" class="alert alert-dark" role="alert">
    <span th:text="${message}"></span>
</div>