<section th:fragment="login" id="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border border-success mb-2">
                    <div class="card-body">
                        <!-- Logo Image -->
                        <div class="text-center mb-4">
                            <img src="./assets/img/avataaars.svg" alt="Logo" height="150">
                        </div>
                        <h3 class="text-center mb-4 text-body fw-bold">Đăng nhập</h3>
                        <!-- Alert Message -->
                        <div th:replace="~{fragments/alert.html :: alert-danger}"></div>
                        <!-- POST FORM -->
                        <form th:action="@{/login}" method="post" class="text-body">
                            <div class="form-floating">
                                <input type="text" name="username" class="form-control fw-bolder" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" name="password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <!-- <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                </div> -->
    
                            <div class="btn-group my-2" data-bs-toggle="buttons">
                                <label class="btn">
                                    <input type="radio" name="userType" id="student" value="student" autocomplete="off"
                                        class="me-2" checked> Học sinh
                                </label>
                                <label class="btn">
                                    <input type="radio" name="userType" id="teacher" value="teacher" autocomplete="off">
                                    Giáo viên
                                </label>
                            </div>
                            <button class="w-100 btn btn-lg btn-outline-success text-dark" type="submit">Đăng
                                nhập</button>
                        </form>
                        <div class="d-flex align-items-center justify-content-center text-body mt-4">
                            <p class="mb-0 me-2">Không có tài khoản?</p>
                            <button type="button" class="btn btn-outline-danger disabled">Tạo mới</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>