<!-- home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/common/layout :: layout}">

<head></head>

<body>
    <main th:fragment="content">
        <!-- Masthead Header -->
        <div th:replace="~{fragments/common/header :: masthead}"></div>

        <!-- About Section-->
        <div th:replace="~{fragments/common/about :: content}"></div>

        <!-- Contact Section-->
        <div th:replace="~{fragments/common/contact :: content}"></div>

        <!-- Login -->
        <div th:replace="~{fragments/common/login :: content}"></div>

        <!-- Footer-->
        <div th:replace="~{fragments/common/footer :: footer}"></div>
        <!-- Copyright -->
        <div th:replace="~{fragments/common/copyright :: copyright}"></div>
    </main>
</body>

</html>